<h3>Comments</h3>

  <div>
    <% if @link.comments.exists? %>
      <%= render @link.comments.select(&:persisted?) %>
    <% else %>
      There are no comments for this ticket.
    <% end %>
  </div>
