<div class = "container">
<h1>New Link</h1>

<%= render 'form' %>

<div class = "col-xs-1 col-xs-offset-2">
<%= link_to '<span class="glyphicon glyphicon-home">Home</span>'.html_safe, links_path %>
</div>
<div class = "col-xs-1 pull-left">
<%= link_to '<span class="glyphicon glyphicon-triangle-left">Back</span>'.html_safe, links_path %>
</div>

</div>
